include layouts/mainlayout

block content
    .container
        .row.justify-content-center
            .col-12.text-center
                h1 Personality Perfect

        .row.justify-content-center.mt-5
            .col-8
                .alert.alert-light.text-center
                    h2 Under Construction
                    p This page is under construction. More will be added soon.
